/* ---- grid ---- */

.grid-image {

}

/* clear fix */
.grid-image:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-image-item {
  width: 10%;
}

.grid-image-item {
  float: left;
}

.grid-image-item img {
  display: block;
  max-width: 100%;
}
